.dynamic-class {
  font-weight: bold;
  font-size: 2rem;
}
body {
  background-color: green;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: white;
  height: 400px;
  width: 250px;
  border-radius: 10px;
}
.number {
  /* align-self: center; */
  text-align: center;
  height: 150px;
  font-size: 7rem;
}

#bottom-suit {
  align-self: flex-end;
  text-align: center;
  padding: 5px;
  height: auto;
  width: auto;
  font-size: 3em;
}

#top-suit {
  padding-left: 5px;
  height: auto;
  width: auto;
  font-size: 3em;
}
#CardBtn {
  margin: 10px;
  background-color: white;
  border: 3px solid black;
  border-radius: 5px;
  block-size: 3em;
  padding: 10px;
}
#buttonDIV {
  margin: auto;
  display: flex;
  justify-content: center;
}
